@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url("S-Core-Dream-light/s-core-dream.css");

.li_table{
	border: 0;
    margin: auto;
    width: 60em;
    border-collapse: collapse;
    margin-top: 2%;
    height: 48em;
	
}

.search_form{
	display:flex;
	justify-content: center;
}

#search1{
	height: 36px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    font-family: "s-core-dream-bold", sans-serif !important;
    background-color: ivory;
    color: #404040;
}

#search2{
	height: 30px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    font-family: "s-core-dream-bold", sans-serif !important;
    width: 350px;
    background-color: ivory;
    color: #404040;
}

#search3{
	height: 36px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    font-family: "s-core-dream-bold", sans-serif !important;
    background-color: ivory;
    cursor: pointer;
    color: #404040;
}

#com_t{
	height: 35px;
	width: 796px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    font-family: "s-core-dream-bold", sans-serif !important;
    cursor: pointer;
    background: none;
    margin: auto;
    border: none;
}

.com_btn{
	height: 36px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    font-family: "s-core-dream-bold", sans-serif !important;
    background-color: ivory;
    cursor: pointer;
	float: right;
	color: #404040;
}

#page{
	text-align: center;
}

.pagination li{
	float: left;
}

a{
	text-decoration: none;
}

td, th{
	color: #404040;
	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0.5px 0.5px #fff, -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff;
}

thead{
  background-color: rgba(255,255,255,0.3);
}
