@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url("S-Core-Dream-light/s-core-dream.css");



body{
   background: linear-gradient(#f2b2b2, #c8ccf2);
   background-size: cover;
   height: 98.4vh;
}

header{
	height: 129px;
	border: none;
	width:100%;
	top: 0;
    left: 0;
	position: fixed;
}

#Title{
   font-family: "s-core-dream-bold", sans-serif !important;
   width: 515px;
   height: 40px;
   font-size: 15px;
   border-radius:10px;
   margin-bottom: 10px;
   background: none;
   color: white;
}

#Contents{
	font-family: "s-core-dream-bold", sans-serif !important;
	width: 500px;
	height : 400px;
	padding: 10px;
	margin-bottom:10px;
	border-radius:10px;
	background: none;
	color: white;
	
}

.InputBox{
	padding: 1% 20%; 
	margin-top: 15%;
	flex: 0 1 auto;
}

input {

}

.Btn{
	margin: 5px;
	cursor:pointer;
}
